@charset "utf-8";

.check--original {
	display: inline-block;
}

.form-check input[type = checkbox]{
	position: static;
    margin-top: 0;
    margin-right: .3125rem;
    margin-left: 0;
}

.form-check label {
	margin-bottom: 0;å
}