@charset "utf-8";

.tag--original{
	background-color: #efefef;
	color:#ce4844;
	border: 1px solid #ccc;
	font-size: .8em;
	padding: 1px 2px;
	border-radius: 2px;
}

.tag--original + .tag--original{
	margin-left: 4px;
}